{% extends "base.html" %}

{% load static %}

{% block content %}


    <h2>Tous les produits</h2>
    <div class="product-list">
        {% for shoe in shoes %}
            <div class="product-item">
                <a href="{{ shoe.get_absolute_url }}">
                    <img src="{{ shoe.image.url }}" alt="{{ shoe.name }}">
                </a>
                <h3>{{ shoe.name }}</h3>
                <p>{{ shoe.get_gender_display }}</p>
                <p>Couleurs disponibles: {{ shoe.get_colors_display }}</p>
                <p>Prix: {{ shoe.price }} FCFA</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}
